:root.theme-dark {
  --page-bg: url("../images/cover-image-dark.png");
  --main-color: #F1B2CE;
  --title-color: #DB00FF;
  --accent-color: #FF0070;
  --subtitles-color: #000028;
  --button-hover-border-color: #FF007066;
}

.theme-dark .rec {
  display: inline-block;
}

.theme-dark .corner::before {
  background: var(--accent-color);
}

.theme-dark .corner::after {
  background: var(--accent-color);
}

.theme-dark .header__theme-menu-button {
  color: var(--accent-color);
}

.theme-dark .topic-title {
  color: var(--accent-color);
}
