:root.theme-light {
  --page-bg: url("../images/cover-image-light.png");
  --main-color: #353430;
  --title-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --subtitles-color: #353430;
  --button-hover-border-color: #32312D66; 
}

.theme-light .rec {
  display: none;
}

.theme-light .corner::before {
  background: var(--main-color);
}

.theme-light .corner::after {
  background: var(--main-color);
}

.theme-light .header__theme-menu-button {
  color: var(--main-color);
}

.theme-light .topic-title {
  color: var(--main-color);
}

.theme-light .header__theme-menu-button:focus-visible::after {
  background-color: var(--main-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --page-bg: url("../images/cover-image-light.png");
    --main-color: #353430;
    --title-color: #FFC2E6;
    --accent-color: #FF8DCB;
    --subtitles-color: #353430;
    --button-hover-border: #32312D66; 
  }
  
  .rec {
    display: none;
  }
  
  .corner::before {
    background: var(--main-color);
  }
  
  .corner::after {
    background: var(--main-color);
  }
  
  .header__theme-menu-button {
    color: var(--main-color);
  }
  
  .topic-title {
    color: var(--main-color);
  }

  .header__theme-menu-button:focus-visible::after {
    background-color: var(--main-color);
  }
}